In [1]:
import pandas as pd
import numpy as np
import wbdata

## Data for GDP per Capita

In [ ]:
indicators_gdp = {"NY.GDP.PCAP.KD":"gdp-per_capita"}
df_gdp = wbdata.get_dataframe(indicators_gdp,country= ["USA", "CAN", "MEX"])

In [ ]:
df2_gdp=df_gdp.copy()
df2_gdp.reset_index(inplace=True)
df2_gdp['text']=df2_gdp['country']+df2_gdp['date'].map(str)

In [ ]:
data_gdp = df2_gdp.drop(columns = ['text'])
data_gdp

           country  date  gdp-per_capita
0           Canada  2023    44388.402999
1           Canada  2022    45227.144735
2           Canada  2021    44359.616727
3           Canada  2020    42366.128519
4           Canada  2019    45100.291490
..             ...   ...             ...
187  United States  1964    21437.584070
188  United States  1963    20545.784245
189  United States  1962    19965.143575
190  United States  1961    19108.935365
191  United States  1960    18991.544603

[192 rows x 3 columns]

## Data for Employment to Population Ratio

In [5]:
indicator_employment = {"SL.EMP.TOTL.SP.ZS":"employment"}
df_employment = wbdata.get_dataframe(indicator_employment,country= ["USA", "CAN", "MEX"])

In [6]:
df2_employment = df_employment.copy()
df2_employment.reset_index(inplace=True)
df2_employment['text']=df2_employment['country']+df2_employment['date'].map(str)

In [7]:
data_employment = df2_employment.drop(columns = ['text'])
data_employment

           country  date  employment
0           Canada  2023      61.651
1           Canada  2022      61.568
2           Canada  2021      60.170
3           Canada  2020      57.836
4           Canada  2019      61.971
..             ...   ...         ...
187  United States  1964         NaN
188  United States  1963         NaN
189  United States  1962         NaN
190  United States  1961         NaN
191  United States  1960         NaN

[192 rows x 3 columns]

## Data for GDP Growth

In [9]:
indicators_gdp_growth = {"NY.GDP.MKTP.KD.ZG":"gdp_growth"}
df_gdp_growth = wbdata.get_dataframe(indicators_gdp_growth,country= ["USA", "CAN", "MEX"])

In [10]:
df2_gdp_growth = df_gdp_growth.copy()
df2_gdp_growth.reset_index(inplace=True)
df2_gdp_growth['text'] = df2_gdp_growth['country']+df2_gdp_growth['date'].map(str)

In [11]:
data_gdp_growth = df2_gdp_growth.drop(columns = ['text'])
data_gdp_growth

           country  date  gdp_growth
0           Canada  2023    1.065994
1           Canada  2022    3.819866
2           Canada  2021    5.286957
3           Canada  2020   -5.038233
4           Canada  2019    1.908432
..             ...   ...         ...
187  United States  1964    5.800000
188  United States  1963    4.400000
189  United States  1962    6.100000
190  United States  1961    2.300000
191  United States  1960         NaN

[192 rows x 3 columns]